Repository Antistasi-Ultimate-Community/A3-Antistasi-Ultimate, pull requests merged in 2024-05, with the labels that each got.

#183 Alternate Save Reimplementation
  A3A/addons/gui/dialogues/setupDialog.hpp
  A3A/addons/gui/functions/SetupGUI/fn_setupLoadgameTab.sqf
Labels: bug, misc

#160 teeny tiny dlc check rework
  A3A/addons/config_fixes/Vanilla/air.hpp
  A3A/addons/config_fixes/Vanilla/armor.hpp
  A3A/addons/config_fixes/WS/CfgMarkers.hpp
  A3A/addons/config_fixes/WS/CfgVehicles.hpp
  A3A/addons/config_fixes/WS/config.cpp
  A3A/addons/config_fixes/WS/ws_apc.hpp
  A3A/addons/config_fixes/WS/ws_ion.hpp
  A3A/addons/core/Templates/Templates/Aegis/Aegis_Riv_Ion.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_Vehicle_Attributes.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_AAF.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_CSAT_Arid.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_CSAT_Temperate.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_LDF.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_Arid.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_Temperate.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_Tropical.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Civ.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Reb_FIA.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Reb_LL.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Reb_SDK.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Reb_Vehicle_Attributes.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Riv_Exegermenos.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Riv_LE.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Vehicle_Attributes.sqf
  A3A/addons/core/functions/AI/fn_attackHeli.sqf
  A3A/addons/core/functions/AI/fn_combatLanding.sqf
  A3A/addons/core/functions/AI/fn_vehicleMarkers.sqf
  A3A/addons/core/functions/Ammunition/fn_equipmentIsValidForCurrentModset.sqf
  A3A/addons/core/functions/CREATE/fn_civVEHinit.sqf
  A3A/addons/core/functions/CREATE/fn_createAttackVehicle.sqf
  A3A/addons/core/functions/CREATE/fn_createVehicleCrew.sqf
  A3A/addons/core/functions/CREATE/fn_spawnVehicle.sqf
  A3A/addons/core/functions/Missions/fn_convoy.sqf
  A3A/addons/core/functions/Supports/fn_SUP_CASApproach.sqf
  A3A/addons/core/functions/init/fn_initVarCommon.sqf
  A3A/addons/core/functions/init/fn_initVehClassToCrew.sqf
  A3A/addons/logistics/Cargo/RF.hpp
  A3A/addons/logistics/CfgLogistics.hpp
  A3A/addons/logistics/Nodes/RF.hpp
  A3A/addons/logistics/Nodes/VN.hpp
  A3A/addons/scrt/Encounter/fn_encounter_fleeingCivConvoy.sqf
  A3A/addons/scrt/Stringtable.xml
  A3A/addons/ultimate/config/cfgForbiddenItemsGM.hpp
Labels: faction/template, misc

#150 Split vanilla store + additions + kkiv 2035 mod support
  A3A/addons/hals/Addons/store/config.hpp
  A3A/addons/hals/Addons/store/config/aegis.hpp
  A3A/addons/hals/Addons/store/config/apex.hpp
  A3A/addons/hals/Addons/store/config/artofwar.hpp
  A3A/addons/hals/Addons/store/config/contact.hpp
  A3A/addons/hals/Addons/store/config/gm.hpp
  A3A/addons/hals/Addons/store/config/jets.hpp
  A3A/addons/hals/Addons/store/config/kart.hpp
  A3A/addons/hals/Addons/store/config/kkiv2035.hpp
  A3A/addons/hals/Addons/store/config/lawsofwar.hpp
  A3A/addons/hals/Addons/store/config/marksmen.hpp
  A3A/addons/hals/Addons/store/config/tanks.hpp
  A3A/addons/hals/Addons/store/config/vanilla.hpp
  A3A/addons/hals/Addons/store/config/ws.hpp
  A3A/addons/hals/Addons/store/dialog/defines.hpp
  A3A/addons/hals/Addons/store/functions/client/ui/fn_main.sqf
  A3A/addons/hals/Stringtable.xml
  A3A/addons/scrt/Trader/fn_trader_setStockType.sqf
  A3A/addons/ultimate/config/trader/cfgTraderMods.hpp
Labels: faction/template

#126 Crashsite mission
  A3A/addons/core/CfgFunctions.hpp
  A3A/addons/core/CfgSounds.hpp
  A3A/addons/core/Sounds/Misc/Sonic.ogg
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_CSAT_Arid.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_Arid.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Riv_Exegermenos.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Riv_Remnants.sqf
  A3A/addons/core/functions/Missions/fn_LOG_Crashsite.sqf
  A3A/addons/core/functions/Missions/fn_LOG_Crashsite_Satellite.sqf
  A3A/addons/core/functions/Missions/fn_LOG_Helicrash.sqf
  A3A/addons/core/functions/Missions/fn_missionRequest.sqf
  A3A/addons/core/functions/Templates/fn_compileMissionAssets.sqf
  A3A/addons/core/functions/init/fn_initVarServer.sqf
  A3A/addons/logistics/Cargo/Vanilla.hpp
  A3A/addons/scrt/CfgFunctions.hpp
  A3A/addons/scrt/CfgSounds.hpp
  A3A/addons/scrt/Common/fn_common_moveStatic.sqf
  A3A/addons/scrt/Effect/fn_effect_crashingEffects.sqf
  A3A/addons/scrt/Sounds/Misc/Sonic.ogg
  A3A/addons/scrt/Stringtable.xml
Labels: enhancement, misc

#199 Added and Fixed some strings (Psycool3695)
  A3A/addons/core/Stringtable.xml
  A3A/addons/hals/Stringtable.xml
  A3A/addons/scrt/Stringtable.xml
Labels: translation

#200 Remove redundant OPTRE templates
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_Covenant.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_Covenant_Grunts.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_Covenant_Grunts_New.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_Covenant_New.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_UNSC.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_UNSC_New.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_UNSC_desert.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_UNSC_desert_New.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_UNSC_snow.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_UNSC_snow_New.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_UNSC_tropical.sqf
  A3A/addons/core/Templates/Templates/OPTRE/OPTRE_AI_UNSC_tropical_New.sqf
  A3A/addons/core/Templates/Templates/OPTRE/templates.hpp
  A3A/addons/core/Templates/Templates/RACS/RACS_AI_Army.sqf
  A3A/addons/core/Templates/Templates/RACS/RACS_AI_SLA.sqf
  A3A/addons/core/Templates/Templates/RACS/templates.hpp
  A3A/addons/scrt/Stringtable.xml
Labels: faction/template

#205 Update RACS SLA
  A3A/addons/core/Templates/Templates/RACS/RACS_AI_SLA.sqf
Labels: faction/template

#197 3CBF Templates
  A3A/addons/config_fixes/3CBF/CfgVehicles.hpp
  A3A/addons/config_fixes/3CBF/config.cpp
  A3A/addons/core/Templates/Templates.hpp
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_AFRF.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_CSAT.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_CSAT_Temperate.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_CSAT_Tropical.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_CSAT_Winter.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_ION.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_ION_Arctic.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_ION_Arid.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_KRG.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_AI_MDF.sqf
  A3A/addons/core/Templates/Templates/3CBF/3CBF_Reb_ION.sqf
  A3A/addons/core/Templates/Templates/3CBF/templates.hpp
  A3A/addons/gui/dialogues/controls.hpp
  A3A/addons/gui/functions/SetupGUI/fn_setupFactionsTab.sqf
  A3A/addons/ultimate/config/plane/cfgPlaneLoadouts.hpp
Labels: faction/template

#206 Crashsite fixes/changes
  A3A/addons/core/functions/Missions/fn_LOG_Crashsite.sqf
  A3A/addons/scrt/Stringtable.xml
Labels: bug, faction/template

#208 Change SLA and RACS equipment
  A3A/addons/core/Templates/Templates/RACS/RACS_AI_Army.sqf
  A3A/addons/core/Templates/Templates/RACS/RACS_AI_SLA.sqf
Labels: faction/template, misc
