Repository Antistasi-Ultimate-Community/A3-Antistasi-Ultimate, pull requests merged in 2024-08, with the labels that each got.

#268 Replace USA vehicles in CUP BAF templates
  A3A/addons/core/Templates/Templates/CUP/CUP_AI_BAF_Arid.sqf
  A3A/addons/core/Templates/Templates/CUP/CUP_AI_BAF_Temperate.sqf
Labels: faction/template, misc, ready-for-merge

#269 Fix wrong return from getOrDefault in fn_createAIAirplane.sqf
  A3A/addons/core/functions/CREATE/fn_createAIAirplane.sqf
Labels: bug, misc

#270 v11.0.0 hotfixes (#266)
  A3A/addons/core/Templates/Templates/CUP/CUP_AI_BAF_Arid.sqf
  A3A/addons/core/Templates/Templates/CUP/CUP_AI_BAF_Temperate.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_Tropical.sqf
  A3A/addons/core/functions/CREATE/fn_createAIAirplane.sqf
Labels: bug

#263 CSLA templates
  A3A/addons/core/Templates/Templates.hpp
  A3A/addons/core/Templates/Templates/CSLA/CSLA_AI_AFMC.sqf
  A3A/addons/core/Templates/Templates/CSLA/CSLA_AI_CSLA.sqf
  A3A/addons/core/Templates/Templates/CSLA/CSLA_AI_US.sqf
  A3A/addons/core/Templates/Templates/CSLA/CSLA_CIV.sqf
  A3A/addons/core/Templates/Templates/CSLA/CSLA_FIA.sqf
  A3A/addons/core/Templates/Templates/CSLA/CSLA_Riv_Separatists.sqf
  A3A/addons/scrt/Stringtable.xml
Labels: faction/template, ready-for-merge

#274 GM_Reb template uniforms update
  A3A/addons/core/Templates/Templates/GM/GM_Reb.sqf
Labels: faction/template, ready-for-merge, ready-for-testing

#275 Discord Rich Presence Fixes
  A3A/addons/core/functions/init/fn_initClient.sqf
  A3A/addons/maps/Antistasi_Altis.Altis/description.ext
  A3A/addons/maps/Antistasi_Enoch.Enoch/description.ext
  A3A/addons/maps/Antistasi_Esseker.Esseker/description.ext
  A3A/addons/maps/Antistasi_Gulfcoast.Gulfcoast/Pictures/Mission/whiteboard.jpg
  A3A/addons/maps/Antistasi_Gulfcoast.Gulfcoast/description.ext
  A3A/addons/maps/Antistasi_Kapaulio.Kapaulio/description.ext
  A3A/addons/maps/Antistasi_Kunduz.Kunduz/description.ext
  A3A/addons/maps/Antistasi_Lythium.Lythium/description.ext
  A3A/addons/maps/Antistasi_Malden.Malden/description.ext
  A3A/addons/maps/Antistasi_Napf.Napf/description.ext
  A3A/addons/maps/Antistasi_NapfWinter.NapfWinter/description.ext
  A3A/addons/maps/Antistasi_OPTRE_Madrigal.OPTRE_Madrigal/description.ext
  A3A/addons/maps/Antistasi_Panthera3.Panthera3/description.ext
  A3A/addons/maps/Antistasi_SPE_Normandy.SPE_Normandy/description.ext
  A3A/addons/maps/Antistasi_SefrouRamal.SefrouRamal/description.ext
  A3A/addons/maps/Antistasi_Sehreno.Sehreno/description.ext
  A3A/addons/maps/Antistasi_Staszow.Staszow/description.ext
  A3A/addons/maps/Antistasi_StaszowWinter.StaszowWinter/description.ext
  A3A/addons/maps/Antistasi_Stratis.Stratis/description.ext
  A3A/addons/maps/Antistasi_Tanoa.Tanoa/description.ext
  A3A/addons/maps/Antistasi_Tembelan.Tembelan/description.ext
  A3A/addons/maps/Antistasi_UMB_Colombia.UMB_Colombia/description.ext
  A3A/addons/maps/Antistasi_WW2_Omaha_Beach.WW2_Omaha_Beach/description.ext
  A3A/addons/maps/Antistasi_Winthera3.Winthera3/description.ext
  A3A/addons/maps/Antistasi_abramia.abramia/description.ext
  A3A/addons/maps/Antistasi_blud_vidda.blud_vidda/description.ext
  A3A/addons/maps/Antistasi_brf_sumava.brf_sumava/description.ext
  A3A/addons/maps/Antistasi_cam_lao_nam.cam_lao_nam/Pictures/Mission/whiteboard.jpg
  A3A/addons/maps/Antistasi_cam_lao_nam.cam_lao_nam/description.ext
  A3A/addons/maps/Antistasi_chernarus.chernarus/description.ext
  A3A/addons/maps/Antistasi_chernarus_summer.chernarus_summer/description.ext
  A3A/addons/maps/Antistasi_chernarus_winter.chernarus_winter/description.ext
  A3A/addons/maps/Antistasi_cup_chernarus_A3.cup_chernarus_A3/description.ext
  A3A/addons/maps/Antistasi_gm_weferlingen_summer.gm_weferlingen_summer/description.ext
  A3A/addons/maps/Antistasi_gm_weferlingen_winter.gm_weferlingen_winter/description.ext
  A3A/addons/maps/Antistasi_green_sea.green_sea/description.ext
  A3A/addons/maps/Antistasi_iron_excelsior_Tobruk.iron_excelsior_Tobruk/description.ext
  A3A/addons/maps/Antistasi_lingor3.lingor3/description.ext
  A3A/addons/maps/Antistasi_namalsk.namalsk/description.ext
  A3A/addons/maps/Antistasi_pja310.pja310/description.ext
  A3A/addons/maps/Antistasi_psyfx_pht.psyfx_pht/description.ext
  A3A/addons/maps/Antistasi_rhspkl.rhspkl/description.ext
  A3A/addons/maps/Antistasi_ruha.ruha/description.ext
  A3A/addons/maps/Antistasi_sara.sara/description.ext
  A3A/addons/maps/Antistasi_spex_utah_beach.spex_utah_beach/description.ext
  A3A/addons/maps/Antistasi_stozec.stozec/description.ext
  A3A/addons/maps/Antistasi_takistan.takistan/description.ext
  A3A/addons/maps/Antistasi_tem_anizay.tem_anizay/description.ext
  A3A/addons/maps/Antistasi_tem_kujari.tem_kujari/description.ext
  A3A/addons/maps/Antistasi_vn_khe_sanh.vn_khe_sanh/description.ext
  A3A/addons/maps/Antistasi_vt7.vt7/description.ext
  A3A/addons/maps/Antistasi_yulakia.yulakia/description.ext
  A3A/addons/scrt/Misc/fn_misc_getWorldName.sqf
  A3A/addons/scrt/Misc/fn_misc_updateRichPresence.sqf
Labels: misc, ready-for-merge

#283 misc changes
  A3A/addons/core/CfgSounds.hpp
  A3A/addons/core/Params.hpp
  A3A/addons/core/Sounds/Misc/HelmetLoss.ogg
  A3A/addons/core/Stringtable.xml
  A3A/addons/core/functions/REINF/fn_controlunit.sqf
  A3A/addons/core/functions/Revive/fn_handleDamage.sqf
  A3A/addons/core/functions/Revive/fn_handleDamageAAF.sqf
  A3A/addons/core/functions/UI/images/logo.paa
  A3A/addons/core/functions/init/fn_initClient.sqf
  A3A/addons/core/functions/proxy/fn_onPlayerRespawn.sqf
  A3A/addons/main_menu/data/backgrounds/LoadingScreen/AUC_Credits_co.jpg
  A3A/addons/maps/Antistasi_SPE_Mortain.SPE_Mortain/description.ext
  A3A/addons/maps/MissionDescription/master.hpp
  A3A/addons/maps/images_alt_co.jpg
  A3A/addons/maps/images_co.jpg
  A3A/addons/scrt/Stringtable.xml
Labels: misc

#293 Flying Legends Template Test
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_UK_Arctic.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_UK_Arid.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_UK_Temperate.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_WEH_Arctic.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_WEH_Arid.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_WEH_Temperate.sqf
  A3A/addons/core/Templates/Templates/FoW/FOW_AI_USA_Temperate.sqf
  A3A/addons/core/Templates/Templates/FoW/FOW_AI_WEH_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_Allies_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_Allies_Arid.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_Allies_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_SOV_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_SOV_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_UK_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_UK_Arid.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_UK_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_USA_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_USA_Arid.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_USA_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_WEH_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_WEH_Arid.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_WEH_Temperate.sqf
  A3A/addons/core/Templates/Templates/NFtS/NFtS_AI_SOV_Arctic.sqf
  A3A/addons/core/Templates/Templates/NFtS/NFtS_AI_SOV_Temperate.sqf
  A3A/addons/core/functions/CREATE/fn_createAttackVehicle.sqf
  A3A/addons/ultimate/config/plane/cfgPlaneLoadouts.hpp
Labels: enhancement, faction/template

#276 Cup LRI Rebel Faction
  A3A/addons/core/CfgMarkers.hpp
  A3A/addons/core/Pictures/Markers/marker_lri_co.paa
  A3A/addons/core/Templates/Templates/CUP/CUP_Reb_LRI.sqf
  A3A/addons/core/Templates/Templates/CUP/flag_LRI_co.paa
  A3A/addons/core/Templates/Templates/CUP/templates.hpp
  A3A/addons/scrt/Stringtable.xml
  A3A/addons/ultimate/config/cfgForbiddenItemsClient.hpp
Labels: faction/template, ready-for-merge

#278 Fix for spectrum device hacking working only for JIP & and cruise missile only in unfair
  A3A/addons/core/functions/Supports/fn_SUP_cruiseMissileAvailable.sqf
  A3A/addons/core/functions/Supports/fn_initSupports.sqf
  A3A/addons/core/functions/init/fn_initClient.sqf
Labels: bug, misc, ready-for-merge

#281 Vehicles spawn logic
  A3A/addons/core/functions/CREATE/fn_AAFroadPatrol.sqf
  A3A/addons/core/functions/CREATE/fn_createAIAirplane.sqf
  A3A/addons/core/functions/CREATE/fn_createAIOutposts.sqf
  A3A/addons/core/functions/CREATE/fn_createAIcontrols.sqf
  A3A/addons/core/functions/init/fn_initServer.sqf
Labels: misc, ready-for-merge

#284 Pulau map port
  A3A/addons/core/functions/CREATE/fn_milBuildings.sqf
  A3A/addons/maps/Antistasi_pulau.pulau/Pictures/Mission/PIC.jpg
  A3A/addons/maps/Antistasi_pulau.pulau/Pictures/Mission/logo.paa
  A3A/addons/maps/Antistasi_pulau.pulau/Pictures/Mission/whiteboard.jpg
  A3A/addons/maps/Antistasi_pulau.pulau/cba_settings.sqf
  A3A/addons/maps/Antistasi_pulau.pulau/description.ext
  A3A/addons/maps/Antistasi_pulau.pulau/initPlayerLocal.sqf
  A3A/addons/maps/Antistasi_pulau.pulau/initServer.sqf
  A3A/addons/maps/Antistasi_pulau.pulau/mapInfo.hpp
  A3A/addons/maps/Antistasi_pulau.pulau/mission.sqm
  A3A/addons/maps/Antistasi_pulau.pulau/navGrid.sqf
  A3A/addons/maps/Antistasi_pulau.pulau/onPlayerRespawn.sqf
  A3A/addons/maps/NavGrid.hpp
  A3A/addons/maps/Stringtable.xml
  A3A/addons/maps/config.cpp
  A3A/addons/maps/mapInfo.hpp
Labels: map, ready-for-merge

#288 CW Additional Planes (LargeCAS and LargeAA)
  A3A/addons/core/Templates/Templates/CW/CW_AI_CIS.sqf
  A3A/addons/core/Templates/Templates/CW/CW_AI_CIS_WBK.sqf
  A3A/addons/core/Templates/Templates/CW/CW_AI_REP.sqf
  A3A/addons/core/Templates/Templates/CW/CW_AI_REP_WBK.sqf
  A3A/addons/core/Templates/Templates/CW/WM_AI_EMP.sqf
  A3A/addons/core/Templates/Templates/CW/WM_AI_EMP_Arctic.sqf
  A3A/addons/core/Templates/Templates/FactionDefaults/EnemyDefaults.sqf
  A3A/addons/core/functions/Base/fn_sellVehicle.sqf
  A3A/addons/core/functions/Base/fn_setPlaneLoadout.sqf
  A3A/addons/core/functions/CREATE/fn_createAIAirplane.sqf
  A3A/addons/core/functions/Garrison/fn_checkVehicleType.sqf
  A3A/addons/core/functions/REINF/fn_addBombRun.sqf
  A3A/addons/core/functions/Supports/fn_SUP_ASF.sqf
  A3A/addons/core/functions/Supports/fn_SUP_CAS.sqf
  A3A/addons/core/functions/Supports/fn_SUP_CASDive.sqf
  A3A/addons/core/functions/Supports/fn_SUP_QRFAirAvailable.sqf
  A3A/addons/core/functions/Supports/fn_SUP_airstrike.sqf
  A3A/addons/core/functions/Templates/fn_compileMissionAssets.sqf
  A3A/addons/core/functions/init/fn_initVarServer.sqf
  A3A/addons/ultimate/config/plane/cfgPlaneLoadouts.hpp
  A3A/addons/ultimate/config/trader/vehicles/vehicles_cw.hpp
Labels: faction/template, ready-for-merge, ready-for-testing

#292 Flying Legends
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_UK_Arctic.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_UK_Arid.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_UK_Temperate.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_WEH_Arctic.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_WEH_Arid.sqf
  A3A/addons/core/Templates/Templates/CSA38/CSA_AI_WEH_Temperate.sqf
  A3A/addons/core/Templates/Templates/EAW/EAW_AI_JAP_Temperate.sqf
  A3A/addons/core/Templates/Templates/FoW/FOW_AI_USA_Temperate.sqf
  A3A/addons/core/Templates/Templates/FoW/FOW_AI_WEH_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_Allies_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_Allies_Arid.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_Allies_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_SOV_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_SOV_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_UK_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_UK_Arid.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_UK_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_USA_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_USA_Arid.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_USA_Temperate.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_WEH_Arctic.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_WEH_Arid.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_WEH_Temperate.sqf
  A3A/addons/core/Templates/Templates/NFtS/NFtS_AI_SOV_Arctic.sqf
  A3A/addons/core/Templates/Templates/NFtS/NFtS_AI_SOV_Temperate.sqf
  A3A/addons/core/Templates/Templates/SPE_IFA/SPE_IFA_AI_US.sqf
  A3A/addons/core/Templates/Templates/SPE_IFA/SPE_IFA_AI_WEH.sqf
  A3A/addons/core/functions/CREATE/fn_createAttackVehicle.sqf
  A3A/addons/ultimate/config/plane/cfgPlaneLoadouts.hpp
  A3A/addons/ultimate/config/trader/cfgTraderAddons.hpp
  A3A/addons/ultimate/config/trader/vehicles/vehicles_flyleg.hpp
  A3A/addons/ultimate/config/trader/vehicles/vehicles_navleg.hpp
  A3A/addons/ultimate/config/trader/vehicles/vehicles_scrtwpns.hpp
Labels: enhancement, faction/template, ready-for-merge

#294 Madrigal City enrichment
  A3A/addons/maps/Antistasi_OPTRE_Madrigal.OPTRE_Madrigal/mission.sqm
Labels: map, ready-for-merge, ready-for-testing

#298 Auto return leader role
  A3A/addons/core/functions/init/fn_initACEUnconsciousHandler.sqf
Labels: misc, ready-for-merge

#304 Mehland Port
  A3A/addons/maps/Antistasi_mehland.mehland/Pictures/Mission/PIC.jpg
  A3A/addons/maps/Antistasi_mehland.mehland/Pictures/Mission/logo.paa
  A3A/addons/maps/Antistasi_mehland.mehland/Pictures/Mission/whiteboard.jpg
  A3A/addons/maps/Antistasi_mehland.mehland/cba_settings.sqf
  A3A/addons/maps/Antistasi_mehland.mehland/description.ext
  A3A/addons/maps/Antistasi_mehland.mehland/initPlayerLocal.sqf
  A3A/addons/maps/Antistasi_mehland.mehland/initServer.sqf
  A3A/addons/maps/Antistasi_mehland.mehland/mapInfo.hpp
  A3A/addons/maps/Antistasi_mehland.mehland/mission.sqm
  A3A/addons/maps/Antistasi_mehland.mehland/navGrid.sqf
  A3A/addons/maps/Antistasi_mehland.mehland/onPlayerRespawn.sqf
  A3A/addons/maps/NavGrid.hpp
  A3A/addons/maps/config.cpp
  A3A/addons/maps/mapInfo.hpp
Labels: map, ready-for-merge, ready-for-testing

#277 Svartmarka Map Port
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/Pictures/Mission/PIC.jpg
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/Pictures/Mission/logo.paa
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/Pictures/Mission/whiteboard.jpg
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/cba_settings.sqf
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/description.ext
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/initPlayerLocal.sqf
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/initServer.sqf
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/mapInfo.hpp
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/mission.sqm
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/navGrid.sqf
  A3A/addons/maps/Antistasi_tem_chernarus.tem_chernarus/onPlayerRespawn.sqf
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/Pictures/Mission/PIC.jpg
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/Pictures/Mission/logo.paa
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/Pictures/Mission/whiteboard.jpg
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/cba_settings.sqf
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/description.ext
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/initPlayerLocal.sqf
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/initServer.sqf
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/mapInfo.hpp
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/mission.sqm
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/navGrid.sqf
  A3A/addons/maps/Antistasi_tem_chernarusw.tem_chernarusw/onPlayerRespawn.sqf
  A3A/addons/maps/NavGrid.hpp
  A3A/addons/maps/config.cpp
  A3A/addons/maps/mapInfo.hpp
Labels: map
